<div class="bg-base-500 w-full min-h-[392px] pb-12">
    <header class="w-full flex pt-9 pl-9 pr-9">
        <div class="w-52 shrink-0">
            <div class="main-nav">
                <ul class="nav flex flex-col">
                    <li class="flex"><a class="py-3 px-5 text-lg bg-base-700 text-base-100 hover:bg-opacity-45" href="/artists">Artists</a></li>
                    <li class="flex"><a class="py-3 px-5 text-lg bg-base-700 text-base-100 hover:bg-opacity-45" href="/albums">Albums</a></li>
                    <li class="flex"><a class="py-3 px-5 text-lg bg-base-700 text-base-100 hover:bg-opacity-45" href="/recommendations">Recommendations</a></li>
                </ul>
            </div>
        </div>
        <div class="flex align-center justify-center flex-1">
            <a href="/" class="flex flex-col align-center justify-center">
                <img class="h-36" src="/static/img/logo.webp" alt="PlayPreview">
                <img class="h-12 mt-5" src="/static/img/logo.svg" alt="PlayPreview">
            </a>
        </div>
        {% if current_user.is_authenticated %}
        <div class="user-control w-52 flex justify-end flex-wrap shrink-0 ">
            <div class="user-drop relative">
                <div id="user-avatar"
                     class="user-avatar w-12 h-12 rounded-full bg-base-700 hover:border-white border border-base-700 cursor-pointer flex items-center justify-center">
                    <i class="fa-solid fa-user text-base-50 text-xl"></i>
                </div>
                <div id="user-dropdown" data-open="false" class="absolute hidden right-0 pt-2">
                    <div class="bg-white min-w-28 rounded-xl overflow-hidden">
                        <ul class="whitespace-nowrap">
                            <li>
                                <a class="hover:bg-black/15 block pt-2 pl-5 pb-2 pr-8" href="/profile">Profile</a>
                            </li>
                            <li>
                                <a class="hover:bg-black/15 block pt-2 pl-5 pb-2 pr-8" href="/profile">Saved songs</a>
                            </li>
                            <li>
                                <a class="hover:bg-black/15 block pt-2 pl-5 pb-2 pr-8" href="/profile">Settings</a>
                            </li>
                            <li>
                                <a class="hover:bg-black/15 text-red block pt-2 pl-5 pb-2 pr-8" href="{{ url_for('auth.logout') }}"
                                   class="text-cayenne-700">Log out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="user-control w-52 fle flex-wrap">
            <div class="flex gap-2 ml-auto justify-end">
                <a class="btn btn-base"  href="{{ url_for('auth.sign_in') }}">Sign in</a>
                <a class="btn btn-text" href="{{ url_for('auth.sign_up') }}">Sign up</a>
            </div>
        </div>
        {% endif %}
    </header>
    <div class="text-center text-base-100 max-w-[335px] w-full ml-auto mr-auto mt-5">
        <p>
        discover artists and track by genre, save or create custom playlist from your interest
    </p>
    </div>
    <div class="search-area w-[436px] ml-auto mr-auto mt-9">
        <form action="{{ url_for('artist.search_artist') }}" class="w-full m-0">
            <div class="relative">
                <div class="absolute text-2xl text-base-900 left-3 top-1/2 -translate-y-1/2">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <input class="pt-3 pb-3 pl-12 w-full outline-none genre-filter-field" id="search-artist" type="text" name="search_query"
                       placeholder="Start with search artists"/>
            </div>
        </form>
    </div>

</div>