{% extends "layout/app.html" %} {% block title %}{% endblock %} {% set exclude =
True %} {% block body %}

<div class="page-content w-full">
	<h2 class="text-3xl text-center md:text-left text-base-950">
		{{ username }}
	</h2>
	<div class="flex flex-col gap-6 mt-6">
		<div class="genres">
			<p
				class="text-opacity-90 text-center sm:text-start text-lg pb-2 border-b-2 border-base-100"
			>
				genres
			</p>
			<div class="flex flex-wrap justify-center sm:justify-start gap-3 pt-3">
				{% for genre in genres %}
				<span class="px-3 py-2 text-lg bg-base-100 text-base-950"
					>{{ genre }}</span
				>
				{% endfor %}
			</div>
		</div>
		<div class="user-section">
			<p
				class="text-opacity-90 text-center sm:text-start text-lg pb-2 border-b-2 border-base-100 mb-4"
			>
				Liked Tracks
			</p>
			<div
				class="grid grid-cols-2 md:grid-cols-4 grid-rows-1 gap-3"
				data-playlist="liked-trakcs"
			>
				{% for track in tracks %}
				<div
					href="#"
					class="item group aspect-square recommendation-item"
					data-playlist-item="{{track.id}}"
					data-playlist-action="toggle"
				>
					<div data-playlist-action="toggle">
						<div
							class="relative z-10 group-[.active]:px-3 group-[.active]:pt-3 rounded-xl size-full bg-base-100 transition-all overflow-hidden"
						>
							<div class="image rounded-[inherit] w-full overflow-hidden">
								<img
									src="{{ track.album_cover }}"
									class="w-full h-auto"
									alt=""
									srcset=""
								/>
							</div>
						</div>
						<div
							class="control px-3 -translate-y-5 opacity-0 group-[.active]:opacity-100 group-[.active]:translate-y-0 transition-all"
						>
							<div class="flex w-full relative">
								<input
									data-playlist-action="seeking"
									type="range"
									min="0.00"
									max="100"
									value="0.00"
									class="slider size-5 relative top-0 left-0 w-full"
								/>
								<div
									class="absolute flex items-center top-0 left-0 h-full size-full py-1"
								>
									<div class="h-1 w-full relative">
										<div
											class="absolute left-0 top-0 size-full seekbar h-full bg-base-200 bg-opacity-80"
										></div>
										<div
											class="absolute left-0 top-0 h-full seekbar bg-base-500"
											data-playlist-action="progress"
										></div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden">
							<audio controls>
								<source src="{{track.preview_url}}" type="audio/ogg" />
								<source src="{{track.preview_url}}" type="audio/mpeg" />
							</audio>
						</div>
						<div class="-translate-y-4 transition-all group-[.active]:translate-y-0">
              <div
                class="desc flex gap-2  text-base-950 px-3 pb-3"
              >
                <div class="play-btn text-3xl pt-1 size-8 cursor-pointer">
                  <div data-playlist-action="pause" class="hidden">
                    <i class="fa-regular fa-circle-pause hidden"></i>
                  </div>
                  <div data-playlist-action="play">
                    <i class="fa-regular fa-circle-play"></i>
                  </div>
                </div>
                <div class="desc flex-1">
                  <div class="name text-xl">{{ track.name }}</div>
                  <div class="name text-sm gap-1">
                    <span
                      ><a
                        class="text-base-950 hover:underline hover:text-base-500"
                        href="/artist/{{ track.artist_id }}"
                        >{{ track.artist_name }}</a
                      ></span
                    >
                    <span>-</span>
                    <span
                      ><a
                        class="text-base-950 hover:underline hover:text-base-500"
                        href="/album/{{ track.album_id }}"
                        >{{ track.album_name }}</a
                      ></span
                    >
                  </div>
                </div>
              </div>
            </div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="user-section">
			<p
				class="text-opacity-90 text-center sm:text-start text-lg pb-2 border-b-2 border-base-100 mb-4"
			>
				Liked Artists
			</p>
			<div class="grid grid-cols-2 md:grid-cols-4 grid-rows-1 gap-3">
				{% for artist in artists %}
				<a
					href="/artist/{{ artist.id }}"
					class="item aspect-square text-base-900 hover:underline hover:text-base-500"
				>
					<div class="image size-full bg-base-100 rounded-xl overflow-hidden">
						<img
							src="{{ artist.image }}"
							class="h-full w-auto"
							alt=""
							srcset=""
						/>
					</div>
					<div class="name p-2 text-xl">{{ artist.name }}</div>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{%endblock%}
