<div class="flex items-center mt-10 mb-10 gap-10 w-[900px]">
    <div class="flex items-center gap-7">
        <p class="text-5xl opacity-15 text-right">
            {% if n.counter < 10 %}
            0{{ n.counter }}
            {% else %}
            {{ n.counter }}
            {% endif %}
        </p>
        <img data-track="{{ track['id'] }}" src="{{ track['album_cover'] }}"
             class="rounded-lg play-track hover:brightness-50 hover:duration-200" width="112px">
        <audio data-track="{{ track['id'] }}" controls style="display: none;">
            <source src="{{ track['preview_url'] }}" type="audio/ogg">
            <source src="{{ track['preview_url'] }}" type="audio/mpeg">
        </audio>
    </div>
    <div class="flex flex-col gap-3">
        <p class="text-4xl">{{ track['name'] }}</p>
        <p class="text-2xl">{{ track['artist'] }} - {{ track['album'] }}</p>
    </div>
    <div class="flex justify-end gap-5 ml-auto">
        <form action="{{ url_for('track.like_track', id=track['id']) }}" method="POST">
            <input type="hidden" name="id" value="{{ track['id'] }}">
            <input type="hidden" name="name" value="{{ track['name'] }}">
            <input type="hidden" name="album" value="{{ track['album'] }}">
            <input type="hidden" name="album_cover" value="{{ track['album_cover'] }}">
            <input type="hidden" name="artists_name" value="{{ track['artists_name'] }}">
            <input type="hidden" name="artists_id" value="{{ track['artists_id'] }}">
            <input type="hidden" name="preview_url" value="{{ track['preview_url'] }}">
            <button type="submit">
                <img src="{{ url_for('static', filename='img/like.png') }}" class="w-7">
            </button>
        </form>
        <img src="static/img/three-dots.svg" class="w-7">
    </div>
</div>