{% extends "layout/base.html" %} {% block title %}Home{% endblock %} {% block
body %} {% if not current_user.is_authenticated %}

<div class="w-full relative h-[370px]">
	<div
		class="bg-repeat absolute left-0 top-0 h-[370px] bg-repeat-x bg-center ml-auto mr-auto bg-contain w-full"
		style="background-image: url(../../static/img/Abbey-Road.webp)"
	></div>
	<div class="main-slide-overlay">
		<div class="page-container">
			<p
				class="text-white text-center text-5xl absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-4 z-10"
			>
				discover music quicker
			</p>
		</div>
	</div>
	<!-- <img _src="static/img/abbey-road.webp" class="brightness-50" width="420px">
      <img _src="static/img/abbey-road.webp" class="brightness-50" width="420px">
      <img _src="static/img/abbey-road.webp" class="brightness-50" width="420px">
      <img _src="static/img/abbey-road.webp" class="brightness-50" width="420px"> -->
</div>
{% endif %}

<div class="page-body">
	{% if not current_user.is_authenticated %}

	<div class="ml-auto mr-auto flex justify-center items-center pt-6">
		<form class="flex flex-col gap-2 text-center" action="">
			<p>For more experience</p>
			<button class="btn btn-xl btn-primary">GET STARTED</button>
		</form>
	</div>
	{% else %}

	<!-- <div class="flex gap-2 justify-center pt-12 text-4xl text-center">
		welcome back -
		<p class="underline">{{ current_user.username }}</p>
	</div> -->
	{% endif %}
	<div class="page-container">
		<div class="grid grid-cols-1 pt-16">
			<div>
				<h3 class="text-2xl pb-4 border-b-2 border-base-100">
					recently liked songs
				</h3>
				<div
					class="main-player theme-shadow flex flex-col gap-0 w-full mt-6 mb-6 rounded-[16px] overflow-hidden"
					data-playlist="recently_liked"
				>
					{% for track in recently_liked_tracks %}
					<div
						class="track-item bg-base-100 bg-opacity-50 hover:bg-base-100 hover:bg-opacity- 15 flex w-full border-b-base-50 border-b-2 transition-all p-2"
						data-playlist-item="{{track.id}}"
						data-playlist-action="toggle"
					>
						<div class="id flex pr-5 pl-5 shrink-0 size-28">
							<p class="text-5xl m-auto opacity-15">01</p>
						</div>
						<div class="desc flex gap-3 flex-1">
							<div
								class="image size-28 bg-base-50 rounded-xl transition-all overflow-hidden shrink-0"
							>
								<div
									class="drop"
									style="background-image: url({{track.album_cover}})"
								></div>
								<img
									src="{{ track.album_cover }}"
									class="img size-28 bg-base-200 rounded-xl"
								/>
							</div>
							<div class="info flex flex-col gap-2">
								<div
									class="title text-3xl text-wrap"
									style="word-wrap: anywhere"
								>
									{{ track.name }}
								</div>
								<div class="text-md">
									<span
										><a
											class="text-base-900 hover:text-base-600 hover:underline"
											href="/artist/{{ track.artist_id }}"
											>{{ track.artist_name }}</a
										>
									</span>
									<span>-</span>
									<span
										><a
											class="text-base-900 hover:text-base-600 hover:underline"
											href="#"
											>{{ track.album }}</a
										>
									</span>
								</div>
								<div
									class="player-control flex items-center gap-2 text-3xl text-base-900 text-opacity-50"
								>
									<div class="track">
										<div class="" data-playlist-action="current-duration"></div>
										<div class="" data-playlist-action="full-duration"></div>
									</div>
									<div class="relative" data-playlist-action="toggle">
										<i data-playlist-action="play" class="w-12 fa-solid fa-play"></i>
										<span data-playlist-action="pause" class="hidden">
											<i class="fa-solid fa-pause w-12 "></i>
										</span>
									</div>
									<div class="flex relative">
										<input
											data-playlist-action="seeking"
											type="range"
											min="0.0"
											max="100"
											value="0.0"
											step="0.01"
											class="slider size-5 relative top-0 left-0 w-full"
										/>
										<div
											class="absolute flex items-center top-0 left-0 h-full size-full py-1"
										>
											<div class="h-1 w-full relative">
												<div
													class="absolute left-0 top-0 size-full seekbar h-full bg-base-200 bg-opacity-80"
												></div>
												<div
													class="absolute left-0 top-0 h-full seekbar h-full bg-base-300"
													data-playlist-action="progress"
												></div>
											</div>
										</div>
									</div>
									<div class="flex text-lg">
										<div>00:00</div>
										<div>-</div>
										<div>00:00</div>
									</div>
									<div class="flex">
										<audio controls style="display: none">
											<source
												src="https://p.scdn.co/mp3-preview/07de30bde8363d9ff78b72339245c151f67af451?cid=6e82327445994df88d17de8cd6608f19"
												type="audio/ogg"
											/>
											<source
												src="https://p.scdn.co/mp3-preview/07de30bde8363d9ff78b72339245c151f67af451?cid=6e82327445994df88d17de8cd6608f19"
												type="audio/mpeg"
											/>
										</audio>
									</div>
								</div>
							</div>
						</div>
						<form class="control pt-2 pr-4">
							<ul class="flex gap-4">
								<li>
									<button type="input" value="Like">
										<i class="fa-regular fa-heart text-2xl"></i>
										<span class="hidden">Like</span>
									</button>
								</li>
								<li>
									<button type="input" value="Like">
										<i class="fa-solid fa-ellipsis-h text-2xl"></i>
										<span class="hidden">Options</span>
									</button>
								</li>
								<!-- <li></li> -->
							</ul>
						</form>
					</div>
					{% endfor %}
				</div>
			</div>
			<!-- <h3 class="text-2xl pb-4 border-b-2 border-base-100">
            recently liked songs
        </h3>
        <div class="flex items-center mt-10 mb-10 gap-10 w-[900px]">
            <div class="flex justify-center items-center gap-7">
                <p class="text-5xl opacity-15 text-right size-40">01</p>
                <img
                    _src="static/img/abbey-road.webp"
                    class="rounded-lg play-track hover:brightness-50 hover:duration-200"
                    width="112px"
                />
            </div>
            <div class="flex flex-col gap-3">
                <p class="text-4xl">track name</p>
                <p class="text-2xl">the beatles - abbey road</p>
            </div>
            <div class="flex justify-end gap-5 ml-auto">
                <img _src="static/img/unlike.png" class="w-7" />
                <img _src="static/img/three-dots.svg" class="w-7" />
            </div>
        </div> -->
		</div>
	</div>
	<div
		class="page-container grid grid-cols-[none] md:grid-cols-3 gap-6 pt-5 pb-4"
	>
		<div class="grid-item pt-3 flex flex-col gap-3">
			<h4 class="text-2xl pb-4 border-b-2 border-base-100">genres</h4>
			<div class="flex flex-wrap gap-2">
				{% for genre, count in genres.items() %}
				<a
					href="#"
					class="p-2 gap-1 flex flex-col text-black rounded-lg hover:bg-base-100 hover:text-base-500"
				>
					<p class="text-lg">{{ genre }}</p>
					<p class="text-sm"><span>likes: </span>{{ count }}</p>
				</a>
				{% endfor %}
			</div>
		</div>
		<div class="grid-item pt-3 flex flex-col gap-3">
			<h4 class="text-2xl pb-4 border-b-2 border-base-100">artists</h4>
			<div class="grid grid-cols-4 gap-2">
				{% for artist in artists %}
				<a
					href="#"
					class="artist-item aspect-square hover:text-base-500 hover:bg-black hover:bg-opacity-5 hover:shadow-sm"
				>
					<div
						class="flex rounded-md overflow-hidden size-full relative bg-base-200"
					>
						<div
							class="w-full absolute top-0 left-0 size-full bg-base-100"
						></div>
						<img
							src="{{ artist.image }}"
							class="m-auto size-full object-cover relative"
							alt="{{ artist.name }}"
						/>
					</div>
					<div class="desc">
						<p class="text-lg text-ellipsis overflow-hidden whitespace-nowrap">
							{{ artist.name }}
						</p>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
		<div class="grid-item pt-3 flex flex-col gap-3">
			<h4 class="text-2xl pb-4 border-b-2 border-base-100">albums</h4>
			<div class="grid grid-cols-4 gap-2">
				{% for album in albums %}
				<a
					href="#"
					class="artist-item aspect-square hover:text-base-500 hover:bg-black hover:bg-opacity-5 hover:shadow-sm"
				>
					<div
						class="flex rounded-md overflow-hidden size-full relative bg-base-200"
					>
						<div
							class="w-full absolute top-0 left-0 size-full bg-base-100"
						></div>
						<img
							src="{{ album.cover }}"
							class="m-auto size-full object-cover relative"
							alt="{{ album.name }}"
						/>
					</div>
					<div class="desc">
						<p class="text-lg text-ellipsis overflow-hidden whitespace-nowrap">
							{{ album.name }}
						</p>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>

	<!-- <div class="page-container grid grid-cols-3">
    <div class="mt-16 mb-16">
        <p class="flex justify-center text-3xl mb-8">genres</p>
        <div class="flex flex-col justify-center items-center gap-8">
            <button class="text-white rounded-lg bg-base-500 w-64 h-16">hip hop<br>liked by: 5000</button>
            <button class="text-white rounded-lg bg-base-500 w-64 h-16">rock<br>liked by: 3000</button>
            <button class="text-white rounded-lg bg-base-500 w-64 h-16">punk<br>liked by: 2000</button>
        </div>
    </div>
</div> -->
	{% endblock %}
</div>
